[mysqld]
user=root
datadir=/var/lib/mysql
port=3306
log-bin=/var/lib/mysql/mysql-bin
bind-address=0.0.0.0
skip-networking=false

ssl_ca=/etc/mysql/certs/ca-cert.pem
ssl_cert=/etc/mysql/certs/server-cert.pem
ssl_key=/etc/mysql/certs/server-key.pem

bind-address            = *   